.official2{
    width: 1000px;
    height: 200px;
    position: relative;
    left: 400px;
}

.info-oficial{
    width: 500px;
    height: 400px;
    background-color:   rgb(255, 255, 255);
    position: absolute;
    left: -250px;
    top: 200px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}