body {
    margin: 0;
    padding: 0;
}

.banner-container {
    align-items: center;
    justify-content: center;
    background-color:rgb(2, 0, 126);
    max-width: auto;
    max-height: 1000px;
}

.banner-title {
    font-size:12vw;
    color: #ffffff;
    position: relative;
    top: -100px;
}

.banner-texto {
    text-align: center;
    height: 100vh;
    font-size:20px;
    color:rgb(255, 255, 255);
    position: relative;
    top: -100px;
}

.izquierda {
    background-color: #223a4d;
    height: 100vh;
    width: 100vh;
    text-align: center;
}

.derecha {
    background-image: url(../images/policia1.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

#pantalla-dividida {
    display: flex;
}

.creative {
    color:#ecb419;
}

h1 {
    font-size:60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    color:#223a4d;
    margin-top: 90px;
    
}

p {
    font-size: 19px;
    width: 50%;
    margin: auto;
    line-height: 30px;
    color: #fff;
    margin-top: 90px;
}

.derechas {
    background-image: url(../images/policia2.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
}

.footer2 {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #223a4d;
    text-align: center;
    color: rgb(0, 0, 0);
}


