body {
    margin: 0;
    padding: 0;
}

.banner-container {
    align-items: center;
    justify-content: center;
    background-color:rgb(2, 0, 126);
    max-width: auto;
    max-height: 1000px;
}

.banner-title {
    font-size:150px;
    color:rgb(2, 0, 126);
    text-align: left;
}

.izquierda {
    background-color: #223a4d;
    height: 100vh;
    width: 50%;
    text-align: center;
}

.derecha {
    background-image: url(../images/policia1.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
    text-align: center;
}

#pantalla-dividida {
    display: flex;
}

.creative {
    color:#ecb419;
}

h1 {
    font-size:60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    color:#223a4d;
    margin-top: 90px;
    
}

p {
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 90px;
}