.banner-container {
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.header-nav {
    font-size: 30px;
    font-family: "Helvetica Neue";
}

.nav-item {
    margin-top: 50px;
}

.nav-link {
    color: #ecb419;
}

.div-posicionado {
    width: 100%;
    height: auto;
    position: relative;
    right: 110px;
}

.banner-title1 {
    font-size:12vw;
    color: #223a4d;
    position: relative;
    top: -100px;
}

.creative {
    color:#ecb419;
}

.header1 {
    position: relative;
    max-width: auto;
    max-height: auto;
}

.texto-informativo {
    width: auto;
    height: auto;
    text-align: center;
    padding: 3.5em;
    font-size: 24px;
    color: ffffff;
    position: absolute;
    top: 350px;
    left: 90px;
    line-height: 1.5;
    height: auto;
}

.policia-hdzz {
    position: relative;
    left: 20px;
    top: 60px;
}

.info-policiahdzz {
    width: 550px;
    height: 550px;
    text-align: center;
    color:white;
    position: absolute;
    background-color: #223a4d;
    top: 200px;
    left: 500px;
}

.policia-lopez {
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
    top: 660px;
}

.info-policialopez {
    text-align: center;
    color:white;
    width: 550px;
    height: 490px;
    position: absolute;
    background-color: #223a4d;
    left: 300px;
    right: 90px;
    top: 100px;
}

.policia-estrada {
    width: 100px;
    height: 100px;
    position: relative;
    left: 200px;
    top: 1100px;
}

.info-policia-estrada {
    text-align: center;
    color:white;
    width: 550px;
    height: 550px;
    position: absolute;
    background-color: #223a4d;
    left: 300px;
    right: 90px;
    top: 90px;
}

.seccion-abajo {
    width: 100%;
    height: auto;
    text-align: center;
    color:rgb(0, 0, 0); 
}

.tecto-final {
    color:rgb(0, 0, 0);
    top: 1000px;
}

.footers {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #223a4d;
    top: 1800px;
    text-align: center;
    color: rgb(0, 0, 0);
}

