.banner-container {
    align-items: center;
    justify-content: center;
    background-image: url(../images/background2.jpg);
    max-width: auto;
    max-height: 1000px;
}

.banner-title {
    font-size:150px;
    color:rgb(2, 0, 126);
    text-align: left;
}

p.banner-text {
    font-size:30px;
    padding: 30px;
    color:white;
}

.seccion-abajo {
    width: 900px;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    left: center;
    top: 100px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
}

.footer {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #223a4d;
    top: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
}