.banner-contain {
    background-color: #337bae;  
    max-width: auto;
    max-height: 1000px;
}

.pa-izquierda {
    background-color: #223a4d;
    height: auto;
    width: 100vh;
}

#morra-fija {
    position: sticky;
    top: 0;
}

.pa-derecha {
    background-image: url(../images/kiosco.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
    position: sticky;
    top: 0;
}

.pa-derecha-vio {
    background-image: url(../images/violacion.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
    position: sticky;
    top: 0;
}

.pa-derecha-bus {
    background-image: url(../images/bus.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
    position: sticky;
    top: 0;
}

.pa-derecha-anios {
    background-image: url(../images/carcel.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    text-align: center;
    position: sticky;
    top: 0;
}


#pantallas-divididas {
    display: flex;
}

h1 {
    font-size:60px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    color:#ffffff;
    margin-top: 90px;
    
}

.card {
    margin-top: 50px;
    background-color:transparent;
    color: #fff;
}

.card-text {
    color: rgb(255, 255, 255);
}