.oficial1{
    width: 1000px;
    height:600px;
    position: relative;
    left: 80px;
}

.info-oficial-ojdana{
    width: 450px;
    height: 450px;
    background-color: rgb(33, 63, 197);
    position: absolute;
    left: 650px;
    top: 200px;
}

.h2{
    text-transform: uppercase; color: #ffffff
}