.banner-containerr {
    background-color: #337bae;  
    width: 100%;
    height: 1000px;
}

@media screen and (max-width: 550px) {
    .banner-containerr {
        background-color: #10a6d4;  
        max-width: 100%;
        height: 500px;
    }
}

.texto-informativos {
    text-align: center;
    font-size:20px;
    color:rgb(255, 255, 255);
    width: 1300px;
    position: absolute;
    top: -120px;
    left: 90px;
}

.policia-hdz {
    width: 500px;
    height: 500px;
    position: relative;
    left: 150px;
    top: 230px;
}

@media screen and (max-width: 550px) {
    .policia-hdz {
        position: relative;
        margin: -11px -200px;
    }
}

.info-policiahdz {
    width: 550px;
    height: 500px;
    text-align: center;
    color:white;
    position: absolute;
    background-color: #223a4d;
    top: 150px;
    left: 500px;
}

@media screen and (max-width: 550px) {
    .info-policiahdz {
        width: 500px;
        height: 500px;
        text-align: center;
        color:white;
        position: relative;
        background-color: #223a4d;
        margin: -150px -450px;
    }
}

.policia-lopez {
    position: relative;
    left: 150px;
    top: 330px;
}

@media screen and (max-width: 550px) {
    .policia-lopez {
        position: relative;
        margin: 244px -200px;
    }
}

.info-policialopez {
    text-align: center;
    color:white;
    width: 550px;
    height: 500px;
    position: absolute;
    background-color: #223a4d;
    top: 150px;
    left: 500px;
}

@media screen and (max-width: 550px) {
    .info-policialopez {
        width: 500px;
        height: 500px;
        text-align: center;
        color:white;
        position: relative;
        background-color: #223a4d;
        margin: -150px -450px;
    }
}

.policia-estrada {
    position: relative;
    top: 490px;
    left: 150px;
}

@media screen and (max-width: 550px) {
    .policia-estrada {
        position: relative;
        margin: -150px -150px;
    }
}

.info-policia-estrada {
    text-align: center;
    color:white;
    width: 550px;
    height: 500px;
    position: absolute;
    background-color: #223a4d;
    top: 150px;
    left: 500px;
}

@media screen and (max-width: 550px) {
    .info-policia-estrada {
        width: 550px;
        height: 500px;
        text-align: center;
        color:white;
        position: relative;
        background-color: #223a4d;
        margin: -150px -500px;
    }
}

.seccion-abajoo {
    position: relative;
    margin-top: 90px;
    top: 800px;
    text-align: center;
    color:rgb(0, 0, 0); 
}

.foooters {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #223a4d;
    top: 900px;
    text-align: center;
    color: rgb(0, 0, 0);
}

